.container {
  height: 100vh;
  width: 100vh;
  display: grid;
}

.flashcard-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.flashcard-item {
  background-color: rgb(172, 178, 165);
  flex-direction: column;
  min-width: 30vw;
  min-height: 50vh;
 
    position: absolute;
  border-radius: 15px;
  margin: auto;
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.flashcard-content {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  
  background-color: #959d8a;
}

.header-container {
  padding: 2rem;
  margin: auto;
  width: 100%;
  background-color: #424e35;
  border-radius: 15px;
}

.flashcard h2 {
  border-bottom: solid black;
  border-width: 1px;
}

.side {
  background: var(--grad-two);
  transform: rotateY(-180deg);
}

.flashcard .front,
.flashcard .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.flashcard .front {
  transform: rotateY(0deg);
}

.flashcard.side .front {
  opacity: 0;
  display: none;
}

.flashcard .back {
  transform: rotateY(180deg);
}

.translation-label .translation-text{
  padding: 2rem;
}

.translation-label {
  display: flex;
  justify-content: start;
  
}




